.generic-popup__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-med;
  &.generic-popup__backdrop--lightbox {
    background-color: rgba( 0, 0, 0, 0.5 );
  }
}

.generic-popup__container {
  padding: $spacing-big;
  background-color: #fff;
  border-radius: $spacing-normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  z-index: $z-index-max;
}

.generic-error-popup {
  position: relative;
  img {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 16px;
    cursor: pointer;
  }
}
