/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/
 */

$spacing-normal: 10px;
$spacing-big: 20px;
$spacing-small: 5px;
$spacing-medium: 1rem;
$radius-sharp: 2px;
$radius: 5px;
$radius-gentle: 10px;

$padding: $spacing-normal;

$mobile-hamburger-size: 50px;
$max-mobile-width: 425px;

$z-index-min: -1;
$z-index-med: 500;
$z-index-max: 999;

.u-font-weight-bold { font-weight: bold; }

.u-font-size-bigger { font-size: bigger; }

.u-width-1rem { width: 1rem; }

.u-width-full { width: 100%; }
.u-height-full { height: 100%; }

.u-position-relative { position: relative; }

.u-display-flex { display: flex; }
.u-display-inline-block { display: inline-block; }

.u-full-w { width: 100%; }
.u-full-h { height: 100%; }

.u-shadow { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); }

.u-clickable { cursor: pointer; }

.u-opacity-07 { opacity: 0.7; }
